@model IEnumerable<ViThuyVy.Models.Nhacungcap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nhà cung cấp</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaNhaCungCap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNhaCungCap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaNhaCungCap)
    </td>
    <td>
        @Html.Raw(item.TenNhaCungCap)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaNhaCungCap }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaNhaCungCap }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaNhaCungCap })
    </td>
</tr>
}

</table>
